/* Variables */
:root {
  --white: #FFFFFF;
  --seagull: #81B3D2;
  --black: #000000;
  --night-rider: #333333;
  --whisper: #E5E5E5;
  --roman-coffee: #766357;
  --dark-gray: #ABABAB;
  --white-smoke: #F2F2F2;
  --dim-gray: #666666;
  --summer-sky: #23A9E1;
  --aubergine: #231F20;
  --rustic-red: #491213;
  --seagull-1: #81B3D3;
  --very-light-grey: #CACACA;
  --flamingo: #DC6243;
  --darksalmon: #F49774;
  --sundown: #F4B1A4;
  --background: #888888;
}

/* Global */
body {
  min-width: 1220px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */
.main-header {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-navigation {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: var(--black);
  background-color: var(--white);
}

.main-header-logo {
  width: 138px;
  height: 70px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
  width: 1200px;
  height: 56px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 0px;
  margin-top: -55px;
  padding: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--black);
}

/* User navigation */
.site-navigation a {
  color: var(--black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--seagull);
}

.about-sedona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 725px;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-color: var(--white);
  background-position: center top;
  padding-top: 77.5px;
  margin: 0 auto;
}

.about-sedona h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}

.about-sedona p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
}

.rasons-item-1 {
  background-color: var(--seagull);
}

.rasons-item-1 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.rasons-item-1 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.rasons-item-2 {
  background-color: var(--white);
}

.rasons-item-2 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-2 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-3 {
  background-color: var(--white);
}

.rasons-item-3 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-3 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-4 {
  background-color: var(--white);
}

.rasons-item-4 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-4 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-5 {
  background-color: var(--seagull);
}

.rasons-item-5 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.rasons-item-5 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.rasons-item-6 {
  background-color: var(--white);
}

.rasons-item-6 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-6 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-7 {
  background-color: var(--white);
}

.rasons-item-7 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-7 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-8 {
  background-color: var(--white);
}

.rasons-item-8 h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.rasons-item-8 p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.search-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 291px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
}

.search-hotels h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.search-hotels p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.search-hotels a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  background-color: var(--roman-coffee);
  color: var(--white);
}

.map {
  background-color: var(--white);
}

.main-footer {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  color: var(--black);
  background-color: var(--white);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 251px;
  height: 61px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}

.footer-social {
  display: flex;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button-tw a {
  background-image: url("../img/twitter.svg");
  background-color: var(--seagull);
}

.social-button-fb a {
  background-image: url("../img/fb-icon.svg");
  background-color: var(--seagull);
}

.social-button-yt a {
  background-image: url("../img/outube.svg");
  background-color: var(--seagull);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 41px;
  padding: 0;
  margin: 38px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
}

.filters {
  color: var(--white);
  background-color: var(--white);
  background-image: url('../img/background-filter.jpg');
  ba
}

.sort {
  color: var(--black);
  background-color: var(--white);
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: PT Sans;
  color: var(--black);
  background-color: var(--white);
}

.catalog-item {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
}

.catalog-hotel {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.catalog-category {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.catalog-item-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.bottom-detail {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color: var(--seagull);
}

.bottom-detail a {
  color: var(--white);
}

.bottom-detail a:hover,
.bottom-detail a:focus {
  color: var(--night-rider);
}

.bottom-booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color: var(--roman-coffee);
}

.bottom-booking a {
  color: var(--white);
}

.bottom-booking a:hover,
.bottom-booking a:focus {
  color: var(--night-rider);
}

.catalog-item-rate {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dim-gray);
  background-color: var(--white-smoke)
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.pop-up-visually-hidden {
  display: none;
}
